@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;1,100&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Montserrat';
}

body {
    background-color: #010427;
}

.content {
    width: auto;
}
.content-speed {
    width: 90%;
    margin: auto;
}

.content .content-speed div {
    background-color: #fff;
    width: auto;
    margin: 5vh;
    padding: 5vh;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.content .content-speed div p {
    padding-top: 2%
}

.content .content-speed div .img {
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .content-speed {
        width: auto;
        margin: 0;
    }

    .content .content-speed div {
        margin: 0;
        margin-top: 2%;
        border-radius: 0;
    }
    .content .content-speed div .img {
        width: 80vh;
    }
}

@media screen and (max-width: 625px) {
    .content .content-speed div .img {
        width: 50vh;
    }
}

@media screen and (max-width: 435px) {
    .content .content-speed div .img {
        width: 40vh;
    }
}
